#user-profile {
	width: 40%;
}
#user-name {
	color: purple;
	font-size: large;
	text-align: center;
	border: 1px gray dotted;
}
#logged-in-status {
	color: red;
	font-size: medium;
	border: 1px red solid;
	text-align: right;
}